<div class="card-steps-left-grid">
  <div class="card-steps-left">
    <div class="card-steps-left__item">
      <div class="card-steps-left__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps-left__content">
        <span class="card-steps-left__code">Step <%= step.order %></span>
        <h3><%= step.title %></h3>
        <p><%= step.content %></p>
      </div>
    </div>
  </div>
</div>
