<div class="card-steps-right-grid">
  <div class="card-steps-right">
    <div class="card-steps-right__item">
      <div class="card-steps-right__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps-right__content">
        <span class="card-steps-right__code">Step <%= step.order %></span>
        <h3><%= step.title %></h3>
        <p><%= step.content %></p>
      </div>
    </div>
  </div>
</div>
