<div class="margin-navbar"></div>
<h1 class="text-center">Trip creation</h1>

<div class="m-5">
  <div class="m-5">
    <div class="m-5">
      <div class="m-5 myborder">
        <div class="m-5">
          <%= render "trips/form", trip: @trip %>
        </div>
      </div>
    </div>
  </div>
</div>
