// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $pink: #F2ABCB;
$pink: rgba(242, 171, 203, 0.5);
$light-blue: #2B96D3;
$dark-blue: #243264;
$white-grey: #E5EBEA;
$light-grey: #F1F2F6;
