// Specific CSS for your home-page
.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 720px;
  background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
  z-index: -1;

  h1 {
    width: 100%;
    font-size: 100px;
    color: #fff;
    text-align: center;
  }

  h3 {
    width: 100%;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }
}
