<div class="footer p-3 justify-content-center">
  <div class="row">
    <div class="col-md-8">
      <h5 class="text-uppercase">Looking for other stopovers ?<br> Join our journey !</h5>
      <div class="form-outline form-white d-flex">
        <input type="email" id="email-footer" placeholder="name@mail.com" class="form-control py-2 my-3" />
        <button type="submit" class="btn-subscribe py-2 my-3">Subscribe</button>
      </div>
      <div class="mt-5">
        <button type="button" class="btn-social btn-sm btn-floating mx-2">
          <i class="fab fa-facebook"></i>
        </button>
        <button type="button" class="btn-social btn-sm btn-floating mx-2">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn-social btn-sm btn-floating mx-2">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn-social btn-sm btn-floating mx-2">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
    </div>
    <div class="col-6 col-md-4 text-end">
      <h5 class="text-uppercase mb-4">About Us</h5>
      <ul class="list-unstyled">
        <li><a href="https://www.linkedin.com/in/vincent-gannier/" class="text-decoration-none">Vince le ouf</a></li>
        <li><a href="#!" class="text-decoration-none">Lancelot</a></li>
        <li><a href="#!" class="text-decoration-none">Enzo do Brazil</a></li>
        <li><a href="#!" class="text-decoration-none">Le gendre idéal</a></li>
      </ul>
    </div>
  </div>
</div>
