<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <div class="col-11 text-center" >
          <h5 class="modal-title">My trip</h5>
        </div>
        <div class="col-1" >
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

      <div class="modal-body">
        <%= render "trips/form" %>
      </div>

    </div>
  </div>
</div>
