<nav class="navbar">
  <div class="logo">
      <img src="logo.png" alt="logo">
  </div>
  <ul class="nav-links">
    <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Create Trip </button></li>
    <li><a href="#">Our Story</a></li>
    <li><a href="#">Why trains</a></li>
    <li><a href="#">FAQs</a></li>
  </ul>
  <div class="nav-icons">
      <a href="#"><img src="user-icon.png" alt="User"></a>
      <a href="#"><img src="cart-icon.png" alt="Cart"></a>
  </div>
</nav>
