    <nav class="navbar">
        <div class="d-flex flex row logo">
          <div><%= image_tag "logopierro.png", class: "logo img" %></div>
        </div>

        <div class="navbar-button d-flex p-2">
          <%= link_to 'Share my trip', new_trip_path, class:"align-self-center" %>
        </div>
    </nav>
