<div class="main-banner">
  <h1>ESCALE</h1>
  <h3>Discover other journeys to make your own</h3>
</div>

<div class="mt-5 mx-5">
  <h1>Recommended Categories ___</h1>
</div>

<div class="container">
  <div class="cards-category-grid">
    <div class="card-category">
      <img class="card-category-background" src="https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
      <div class="card-category-content">
        <p>Category</p>
        <h3>Capital Cities</h3>
      </div>
    </div>
    <div class="card-category">
      <img class="card-category-background" src="https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
      <div class="card-category-content">
        <p>Category</p>
        <h3>Beach</h3>
      </div>
    </div>
    <div class="card-category">
      <img class="card-category-background" src="https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
      <div class="card-category-content">
        <p>Category</p>
        <h3>Rural Escape</h3>
      </div>
    </div>
    <div class="card-category">
      <img class="card-category-background" src="https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
      <div class="card-category-content">
        <p>Category</p>
        <h3>Mountains</h3>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 mx-5">
  <h1>Recent Trips ___</h1>
</div>

<div class="container">
  <div class="cards-index-grid">
    <div class="card-index">
      <img class="card-index-background" src="https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
      <div class="card-index-content">
        <p>Trip</p>
        <h3>Trip Name</h3>
      </div>
    </div>
  </div>
</div>
