.btn-general-blue {
  background-color: $dark-blue;
  color: white;
  padding: 8px 24px;
  border-radius: 16px 60px 16px 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-general-blue:hover {
  background-color: $pink;
  color: black;
}

.btn-general-pink {
  background-color: $pink;
  color: black;
  padding: 8px 24px;
  border-radius: 16px 60px 16px 16px;
  text-decoration: none;
  transition: 0.3s ease;

  &.btn-submit {
    display: block;
    margin-left: auto;
    margin-right: 8px;
  }
}

.btn-general-pink:hover {
  background-color: $dark-blue;
  color: white;
}

.navbar-button {
  background-color: #F2ABCB;
  color: $white-grey;
  border-radius: 10px;
  padding:12px;

  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
}

.navbar-button:hover {
  scale: 0.9;
}

.btn-social {
  background-color: black;
  color: $white-grey;
  border-radius: 24px;
  width: 10%;
  border-color: $white-grey;
}

.btn-social:hover {
  scale: 1.1;
}

.btn-subscribe {
  background-color: black;
  color: $white-grey;
  border-radius: 16px;
  width: 15%;
  border-color: $white-grey;
}

.btn-subscribe:hover {
  scale: 1.1;
}

.btn-bookmark {
  cursor: pointer;
  display: inline-block;
  border-radius: 24px;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: black;
  background-color: $pink;
  border: none;
  text-decoration: none;
}

.btn-bookmark:hover {
  scale: 1.1;
}

// .bookmark-book-button {
//   background-color: $pink;
//   color: $white-grey;
//   border-radius: 10px;
//   padding: 16px 40px;
//   font-size: 20px;
//   border: 2px solid $pink;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   margin-bottom: 10px;

//   a {
//     text-decoration: none;
//     color: white;
//     font-size: 20px;
//   }
// }

// .bookmark-done-button {
//   background-color: $dark-blue;
//   color: $white-grey;
//   border-radius: 10px;
//   padding: 16px 40px;
//   font-size: 20px;
//   border: 2px solid $dark-blue;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   margin-bottom: 0;

//   a {
//     text-decoration: none;
//     color: white;
//     font-size: 20px;
//   }
// }

.black {
  color: black;
}
