.btn-social {
  background-color: black;
  color: $white-grey;
  border-radius: 24px;
  width: 10%;
  border-color: $white-grey;
}

.btn-social:hover {
  scale: 1.1;
}

.btn-subscribe {
  background-color: black;
  color: $white-grey;
  border-radius: 16px;
  width: 15%;
  border-color: $white-grey;
}

.btn-subscribe:hover {
  scale: 1.1;
}

.bookmark-button {
  background-color: $pink;
  color: $white-grey;
  border-radius: 10px;
  padding: 16px 40px;
  font-size: 20px;
  border: 2px solid $pink;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}
.bookmark-done-button {
  background-color: $dark-blue;
  color: $white-grey;
  border-radius: 10px;
  padding: 16px 40px;
  font-size: 20px;
  border: 2px solid $dark-blue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}
