.btn-general-blue {
  background-color: $dark-blue;
  color: white;
  padding: 8px 24px;
  border-radius: 16px 60px 16px 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-general-blue:hover {
  background-color: $pink;
  color: black;
}

.btn-general-pink {
  background-color: $pink;
  color: black;
  padding: 8px 24px;
  border-radius: 16px 60px 16px 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-general-pink:hover {
  background-color: $dark-blue;
  color: white;
}

.navbar-button {
  background-color: $pink;
  color: $white-grey;
  border-radius: 10px;
  padding:12px;

  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
}

.navbar-button:hover {
  scale: 0.9;
}

.btn-social {
  background-color: black;
  color: $white-grey;
  border-radius: 24px;
  width: 10%;
  border-color: $white-grey;
}

.btn-social:hover {
  scale: 1.1;
}

.btn-subscribe {
  background-color: black;
  color: $white-grey;
  border-radius: 16px;
  width: 15%;
  border-color: $white-grey;
}

.btn-subscribe:hover {
  scale: 1.1;
}

.bookmark-button {
  background-color: $pink;
  color: $white-grey;
  border-radius: 10px;
  padding: 16px 40px;
  font-size: 20px;
  border: 2px solid $pink;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}

.bookmark-done-button {
  background-color: $dark-blue;
  color: $white-grey;
  border-radius: 10px;
  padding: 16px 40px;
  font-size: 20px;
  border: 2px solid $dark-blue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}

.black {
  color: black;
}
