.cards-category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  width: 100%;
}

.card-category {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.card-category:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card-category-background {
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  position: absolute;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card-category:hover .card-category-background {
  transform: scale(1.05) translateZ(0);
}

.cards-category-grid:hover > .card-category:not(:hover) .card-category-background {
  filter: brightness(0.5) contrast(1.2) blur(5px);
}

.card-category-content {
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;

  p {
    color: rgba(255,255,255,0.6);
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  h3 {
    color: rgba(255,255,255,0.9);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
}

.cards-index-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  width: 100%;
}

.card-index {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.card-index:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card-index-background {
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  position: absolute;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card-index:hover .card-index-background {
  transform: scale(1.05) translateZ(0);
}

.card-index-content {
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;

  p {
    color: rgba(255,255,255,0.6);
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  h3 {
    color: rgba(255,255,255,0.9);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
}

// Carousel:

.carousel-step {
  background-color: rgba(242, 171, 203, 0.5);
  border-radius: 5px;

  h3 {
    font-size: 36px;
  }

  h5 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }

  b {
    font-size: 20px;
}
}

.img-show {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.margin-carousel {
  margin-left: 30px;
  margin-right: 30px;
}

.carousel-control-prev, .carousel-control-next {
  align-items: flex-start;
}

.carousel-control-next-icon {
  background-image: url("/app/assets/images/right_arrow.png style='width: 32px; height: 32px;' viewBox='0 0 16 16' fill='#0d0925'/%3e%3c/svg%3e");
}

.carousel-desc {
  width: 95%;
  margin: auto;
}

.badge-pill {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #CCEAC4;
  color: black;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

.badge-pill-index {
  position: absolute;
  top: 2%;
  left: 58%;
  background-color: #CCEAC4;
  color: black;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
  z-index: 1;
  display: flex;
  align-items: center;
}

.cards-bookmark-grid {
  display: grid;
  box-sizing: border-box;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  padding: 24px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.card-bookmark {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  padding: 1rem;
  width: 1100px;
  text-align: center;
  color: $white-grey;
}

.card-bookmark-background {
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  position: absolute;
  filter: brightness(80%);
}

.card-bookmark-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;

  h3 a {
    color: $white-grey;
  }

  h3 {
    padding: 1rem;
  }

  p {
    padding: 1rem;
    max-width: 80%;
  }
}

.cards-reviews-grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-review {
  width: 300px;
  height: 100%;
  padding: 10px;
  margin: 1rem;
  border-radius: 10px;
  background-color: #243264;
  border: 5px solid #F2ABCB;
}

.card-review-top-content {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-review-user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-review-user-content img {

  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.card-review-top-content ul {
  display: flex;
  list-style: none;
}

.card-review-top-content ul li {
  padding-left: 4px;
}

article p {
  margin-bottom: 1rem;
}
