.myborder {
  border: 1px solid rgb(48, 67, 139);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(48, 67, 139, 0.5);
}

.myinnerborder {
  border: 1px dashed rgb(48, 67, 139);
  border-radius: 10px;
  box-shadow: 0px 0px -10px rgba(48, 67, 139, 0.5);
}


.formsubmit {
  background-color: $dark-blue;
  color: $white-grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 16px 40px;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

.custom-icon {
  color: #3b5998;
}
