.myborder {
  border: 1px solid rgb(48, 67, 139);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(48, 67, 139, 0.5);
}

.myinnerborder {
  border: 1px dashed rgb(48, 67, 139);
  border-radius: 10px;
  box-shadow: 0px 0px -10px rgba(48, 67, 139, 0.5);
}


.formsubmit {
  background-color: $dark-blue;
  color: $white-grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 16px 40px;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

.custom-icon {
  color: #3b5998;
}

.blue-underline {
  border-bottom: 1px solid rgb(48, 67, 139);
}

.blue-underline:hover {
  border-bottom: 1px solid $pink;
}

.btn-small-blue {
  background-color: $dark-blue;
  color: white;
  font-size: 13px;
  padding: 8px 24px;
  border-radius: 16px 60px 16px 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-small-blue:hover {
  background-color: $pink;
  color: black;
}
