.navbar {
  background-color: $dark-blue;
  padding:3px 20px;
  border-radius: 20px;
  position: fixed;
  top: 10px;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

.logo img {
  height: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.nav-icons {
  display: flex;
  gap: 20px;
}

.nav-icons a img {
  height: 24px;
}

#navbar-title {
  color: #FFFFFF;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
}

.nav-list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  list-style: none;
  margin: 0;

}

.nav-link {
  font-weight: 500;
  padding: 8px;
  transition: 0.3s ease;

  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: $body-font;
  }
}

.nav-link:hover {
  opacity: 1;
  border-bottom: 3px solid #F2ABCB;
}

.nav-link::after {
  content: "";
  bottom: -2px;
  width: calc(100% - 16px);
  height: 6px;
  background-color: $white-grey;
  border-radius: 6px;
  position: absolute;
  left: 8px;
  transition: all .1s ease-in-out;
  opacity: 0;
}

.margin-navbar {
  padding-top: 150px;
}

.white {
  color: white;
  font-size: 18px;
}

.white:hover {
  color: white;
  color: $pink;
}
